.numbers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.number {
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  color: white;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

.menu button.active {
  background: rgba(255, 80, 80, 0.9);
}
